body{
    background-color: #e1e1e1;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: justify;
}
#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  z-index: 1000;
}
.imagenderechos{
  width: 300px; 
  margin-top: 50px;
}
.nav-link {
    color: #f4f6ff !important;
}
.nav-link:focus {
    color: #fecb75 !important;
    font-weight: bold;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s;
  z-index: 9999;
}

#navbar.hidden {
  transform: translateY(-100%);
}
#full-screen-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  #background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../media/images/reseña/imagen_reseña.jpg') no-repeat center center;
    background-size: cover;
  }
  #slider {
    position: relative;
    height: 100%;
  }
  .carousel-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden; /* Ocultar todos por defecto */
  }
  .carousel-item.active {
    visibility: visible; /* Mostrar solo el activo */
  }
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
  }
  

@media (max-width: 768px) {
    .div_video {
        margin-top: 0px;
        background-position-x: center;
        background-size: 80% 150px;
        transform: none;
        text-align: center;
    }
    .background-image2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo-home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menulinks{
        margin-top: 40px;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .separador-links{
        display: none;
    }
}
#contenedor-home {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #video-home {
    position: absolute;
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
  }
  .gallery-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
  #titulo-home {
    position: absolute;
    top: 200px;
    left: 4%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fecb75;
    font-size: 60px;
    line-height: 84px;
  }
  #titulo-home b{
    
    font-size: 95px;
  }
  #texto-home {
    position: absolute;
    top: 395px;
    left: 7%;
    text-align: left;
    background-color: rgba(72, 166, 168, 0.9);
    padding: 10px;
    color: white;
    font-size: 20px;
    width: 700px;
  }
  .card{
    height: 495px;
    border-top-left-radius: 30px;
  }
  @media (max-width: 768px) {
    #contenedor-home {
      flex-direction: column;
      height: auto;
      min-height: none;
    }
  
    #titulo-home{
        position: static;
        width: 70%;
        left: 0;
        top: auto;
        margin-top: 200px;
        font-size: 40px;
    }
    #titulo-home b{
        font-size: 40px;
    }
    #texto-home {
        position: static;
        width: 100%;
        left: 0;
        top: auto;
        margin-top: 0px;
    }
    .card{
        height: 580px;
        margin-top: 50px;
    }
    .imagenderechos{
      width: 150px; 
      margin-top: 50px;
    }
  }
   
  
.nav-link:hover {
    color: #fecb75!important;
}


.container {
    position: relative;
}


